parameters:
  level: 8
  paths:
    - src
  excludePaths:
    - vendor
    - tests
  reportUnmatchedIgnoredErrors: false
  treatPhpDocTypesAsCertain: true
  checkGenericClassInNonGenericObjectType: true

includes: []
